:root {
  --gap: 3px;
  --letter-size: 50px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.guess {
  display: flex;
  gap: var(--gap);
  position: relative;
}

.current-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
}

.rarr {
  left: -20px;
  transform: translateY(-50%) translateX(-50%);
}

.larr {
  right: -20px;
  transform: translateY(-50%) translateX(50%);
}

.letter {
  font-family: monospace;
  font-size: 2em;
  border: 1px solid black;
  height: var(--letter-size);
  width: var(--letter-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.curr-cell::after {
  content: '';
  width: 5px;
  height: 20px;
  background: grey;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

.match {
  background: lightgreen;
}

.almost {
  background: yellow;
}

.nope {
  background: lightgrey;
}
